@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Playwrite+AU+VIC:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Playwrite+AU+VIC:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* Reset e estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

/* Menu de Navegação */
.Navegação {
    background-color: #161617;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 50px;
    z-index: 1000;
}

.imagemlogo {
    width: 76px;
    border-radius: 50%;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    color: #9e9ea2;
}

.nav-links {
    display: flex;
    list-style: none;
}

.botoesnav {
    font-size: 18px;
    color: white;
    text-decoration: none;
    margin-left: 20px;
    transition: 0.5s;
}

.botoesnav:hover {
    color: gray;
    transition: 0.5s;
}

@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }
    
    .nav-links {
        display: none;
        flex-direction: column;
        background-color: gray;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        padding: 20px 0;
    }

    .nav-links.show {
        display: flex;
    }

    .botoesnav {
        margin: 10px 0;
        text-align: center;
    }
}

.divh1 {
    display: flex;
    justify-content: center;
    padding-top: 200px;
}

.h1 {
    color: black;
    font-family: "Rubik", sans-serif;
}

.divflex {
    padding-top: 230px;
    padding-bottom: 200px;
}


.card-text {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    display: flex;
    justify-content: center;
}

.card {
    transition: 1s;
    border-radius: 20px;
    border: 2px solid black;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.card-body {
    border-color: 2px 2px black ;
}

.card:hover {
    transition: 1s;
    border-radius: 40px;
}

.card-img-top {
    border-radius: 20px;
    transition: 1s;
}

.card-img-top:hover {
    transition: 1s;
    border-radius: 40px;
}

.linha {
    color: black;
    border-width: 1px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.linha2 {
    padding-bottom: 100px;
}

.footerfinal {
    background-color: #161617;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 35px;
    position: fixed;
    bottom: 0;
    left: 0;
}

.labelfooter {
    color: white;
    font-size: 14px;
}

.insta {
    color: white;
    font-size: 20px;
    margin-left: 10px;
}
